.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
}

.landing-page h1 { font-size: 3rem; color: #333; }

.explore-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.explore-btn:hover { background-color: #555; }